body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0b0f19;
    color:white;
}

header{
    padding:20px;
    text-align:center;
    font-size:32px;
    font-weight:bold;
    background:#111827;
}

.container{
    display:grid;
    grid-template-columns:1.2fr .8fr;
    min-height:100vh;
}

.preview{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.sidebar{
    padding:20px;
    background:#131a29;
    overflow:auto;
}

.card{
    background:#1b2438;
    padding:12px;
    border-radius:12px;
    margin-bottom:12px;
}

select,input{
    width:100%;
    padding:10px;
    border-radius:8px;
    border:none;
    background:#0f172a;
    color:white;
}

.price{
    font-size:36px;
    font-weight:bold;
}
