body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0b0f19;
    color:white;
}

header{
    padding:20px;
    text-align:center;
    font-size:32px;
    font-weight:bold;
    background:#111827;
}

.container{
    display:grid;
    grid-template-columns:1.2fr .8fr;
    min-height:100vh;
}

.preview{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:30px;
}

.phone{
    width:300px;
    height:620px;
    border-radius:45px;
    background:#444;
    position:relative;
    box-shadow:0 20px 70px rgba(0,0,0,.6);
    transition:.3s;
}

.screen{
    position:absolute;
    inset:10px;
    background:linear-gradient(180deg,#111,#000);
    border-radius:35px;
}

.sidebar{
    padding:20px;
    background:#131a29;
    overflow:auto;
}

.card{
    background:#1b2438;
    padding:12px;
    border-radius:12px;
    margin-bottom:12px;
}

select,input{
    width:100%;
    padding:10px;
    border-radius:8px;
    border:none;
    background:#0f172a;
    color:white;
}

.price{
    font-size:36px;
    font-weight:bold;
}

button{
    padding:12px;
    width:100%;
    margin-top:8px;
    border:none;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}

.primary{
    background:white;
    color:black;
}

.secondary{
    background:#2563eb;
    color:white;
}

.small{
    font-size:12px;
    color:#bbb;
}
